.mqtt
    button.mqtt--send-message(data_topic="button/clicked",data-value="Hello again") button/clicked
    button.mqtt--send-message(data-topic="sensornode/1/switch", data-value="1|b") sensornode/1/switch = 1
    button.mqtt--send-message(data-topic="sensornode/1/switch", data-value="0|b") sensornode/1/switch = 0
    .mqtt--receive-message