<!doctype html>
<html lang="en">

<head>
    <title>{{pageTitle}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{pageTitle}}
            </div>
            <div class="col-sm-12">
                {{content}}
            </div>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/libs/jquery.min.js"></script>
    <script src="static/js/libs/popper.min.js"></script>
    <script src="static/js/libs/bootstrap.min.js"></script>
    <script src="static/js/libs/vue.min.js"></script>
</body>

</html>